<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= tabTitle %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <% if (typeof currentUser !== undefined && currentUser) { %>
                <form action="/logout?_method=DELETE" method="post">
                    <input class="btn btn-secondary" type="submit" value="Log Out">
                </form>
            <% } else { %>
                <a class="btn btn-secondary" href="/login">Log In</a>
            <% } %>
            <div class="flash-messages">
                <% if (messages.success) { %>
                    <% for (let message of messages.success) { %>
                        <p class="alert alert-success"><%= message %></p>
                    <% } %>
                <% } %>
                <% if (messages.info) { %>
                    <% for (let message of messages.info) { %>
                        <p class="alert alert-secondary"><%= message %></p>
                    <% } %>
                <% } %>
                <% if (messages.error) { %>
                    <% for (let message of messages.error) { %>
                        <p class="alert alert-danger"><%= message %></p>
                    <% } %>
                <% } %>
            </div>
        </nav>
    </header>